a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: #f5f5f5;
}

a:hover {
  color: yellow;
}

@font-face {
  font-family: "Bahnschrift";
  src: url("fonts/bahnschrift.ttf");
}
body {
  font-family: "Bahnschrift";
  background-color: #00307d;
  color: white;
  text-align: center;
}
.footer {
  font-family: "Bahnschrift SemiCondensed";
  font-size: larger;
}
.slogan {
  font-size: x-large;
  align-content: center;
}
.paragraph {
  font-family: "Bahnschrift Regular";
  color: white;
  text-decoration: none;
}


.flex-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.flex-child {
  background-color: #0025ff;
  border-radius: 25px;
  padding: 0.5rem;
  width: 30%;
  height: 50%;
}

.flex-child p {
  font-size: larger;
}