a {
    color: white;
    text-decoration: none;
  }
  
  a:visited {
    color: #f5f5f5;
  }
  
  a:hover {
    color: yellow;
  }

  @font-face {
    font-family: "Bahnschrift";
    src: url("fonts/bahnschrift.ttf");
  }
  body {
    font-family: "Bahnschrift";
  }
  .footer {
    font-family: "Bahnschrift SemiCondensed";
    font-size: larger;
  }
  .slogan {
    font-size: x-large;
    align-content: center;
  }
  .paragraph {
    font-family: "Bahnschrift Regular";
  }